// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$white: #ffffff;
$black: #000000;
$primary_1: #ffbe33;
$primary_2: #222831;
$textCol: #1f1f1f;